:root {
    --main-bg-color: whitesmoke;
    --main-flourish-color:  #f5eacd;
    --secondary-flourish-color: #CCC6AC;
  }

body {
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    margin-top:1rem;
}

.home-template {
    text-align: center;
    font-family: 'Alegreya SC', serif;
}

.parchemin {
    background-color: var(--main-flourish-color);
    border-color: var(--secondary-flourish-color);
    border-style: solid;
    border-width: 2px;
}

#main {
    padding: 1rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Alegreya SC', serif;
}

h1 {
    text-align: center;
}

/* Pour l'affichage des listes de personnages */

div.liste-personnages div.card {
    margin-top: 1rem;
}

div.liste-personnages div.card blockquote {
    font-size: 1rem;
    text-align: right;
    font-size: small;
    font-style: oblique;
    margin-bottom: 0;
}

div.liste-personnages blockquote::before {
    content: "\2013\00a0\201C";
}

div.liste-personnages blockquote::after {
    content: "\201D";
}

div.liste-personnages .card-title{
    margin-bottom:0;
}

div.liste-personnages div.card-body {
    padding: 10px;
}

div.liste-personnages div.card-picture{
    max-height: 12rem;
    overflow: hidden;
}

div.liste-personnages img {
    max-width: 100%;
    max-height: 100%;
}

div.liste-personnages .row>div{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

div.liste-personnages.secondaires div.card-picture{
    max-height:18rem;
}

div.liste-personnages.secondaires .card-header{
    padding: 5px;
}
div.liste-personnages.secondaires h5{
    font-size: large;
}

div.liste-personnages.secondaires .row>div{
    padding-right: 5px;
    padding-left: 5px;
}

/* Pour l'affichage des listes de personnages */

.journal-campagne .card.new>.card-header {
    background-color: var(--main-flourish-color);
}

.journal-campagne .card-header h5{
    margin-bottom: 0;
}

.journal-campagne .card.new .card-title::before {
    content: "(nouveau !) "
}

.journal-campagne .card-subtitle {
    clear: both;
    font-style: italic;
}

/* Pour le module ShowMore */
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

/* News */
.news-block {
    font-size: small;
    margin-bottom: 0.5rem;;
}

.news-date {
    font-size: medium;
    padding-left: 5px;
    background-color:var(--main-flourish-color);
}